.button1 {
  background: #4a95d7;
  color: white;
  font-size: 40px;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 6px #3d7db5;
  outline: none;
  border-radius: 10px;
}

.click {
  text-align: center;
  padding-top: 50px;
}

button:active {
  box-shadow: 0 6px white;
  transform: translateY(4px);
}
